Chessboard-Nano/.pio
Chessboard-Nano/.vscode/.browse.c_cpp.db*
Chessboard-Nano/.vscode/c_cpp_properties.json
Chessboard-Nano/.vscode/launch.json
Chessboard-Nano/.vscode/ipch
Chessboard-Pi/.idea
Chessboard-Pi/venv
__pycache__
Chessboard-PCB/*.kicad_prl
Chessboard-PCB/*-backups
Chessboard-PCB/fp-info-cache
